:root {
  --background-before: rgb(0, 0, 0, 0.9);
  --background-after: rgba(236, 60, 60, 0.6);
  --background-image: url("seattle1.jpeg");

  --font-xlarge: 3.5rem;
  --font-large: 2rem;
  --font-medium: 25px;

  --space-lg: 2rem;
  --space-sm: 1rem;

  --color-white: rgb(255, 255, 255);
  --color-point: rgb(133, 51, 51);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* height: 100%;
  width: 100vw; */
}
.point {
  color: var(--color-point);
  font-weight: bold;
}
a {
  text-decoration: none;
  color: var(--color-white);
}

header {
  background-image: var(--background-image);
  background-color: var(--background-before);
  background-blend-mode: saturation;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  transition: background-color 4s;
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-white);
  font-family: "Alef", sans-serif;
}

header:hover {
  background-color: var(--background-after);
  transition: background-color 4s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-medium);
}
.navbar_title {
  font-size: var(--font-large);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding: 3rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: var(--font-medium);
}

.navbar_icon i {
  margin-left: 1rem;
}

nav .navbar_menubar {
  position: absolute;
  right: 0;
  padding: 7px;
  padding-right: 0;
  display: none;
}

.navbar_name {
  text-align: center;
  margin-bottom: 17rem;
}

.navbar_name h1 {
  font-size: var(--font-xlarge);
  margin-bottom: var(--space-lg);
}

.navbar_downArrow {
  font-size: var(--font-large);
  text-align: center;
}

@media (max-width: 768px) {
  header {
    padding: var(--space-sm);
    background-color: var(--background-after);
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: var(--space-sm);
    background-color: rgba(88, 180, 255, 0.1);
  }
  .navbar_logo {
    font-size: x-large;
    margin: 0;
  }
  .navbar_menu {
    display: none;
  }
  .navbar_menu_active {
    flex-direction: column;
    width: 100%;
  }
  .navbar_menu_active li {
    padding: 4px 0;
    font-size: large;
  }
  .navbar_icon {
    display: none;
  }
  .navbar_icon_active {
    align-self: center;
  }
  .navbar_icon_active i {
    margin-left: 0;
    margin-right: var(--space-sm);
    margin-top: 0;
  }
  nav .navbar_menubar {
    display: block;
  }
}
