:root {
  --background-before: rgb(0, 0, 0, 0.9);
  --background-after: rgb(236, 60, 60, 0.6);
  --background-input: rgb(133, 51, 51, 0.1);
  --background-image: url("seattle1.jpeg");

  --font-xxlarge: 3.5rem;
  --font-xlarge: 3rem;
  --font-large: 2rem;
  --font-medium: 1.5rem;
  --font-small: 1rem;

  --space-xxlg: 4rem;
  --space-xlg: 3rem;
  --space-lg: 2rem;
  --space-md: 1.5rem;
  --space-sm: 1rem;

  --color-white: rgb(255, 255, 255);
  --color-point: rgb(133, 51, 51);
  --color-black: rgb(34, 33, 33);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.point {
  color: var(--color-point);
  font-weight: bold;
}
a {
  text-decoration: none;
  color: var(--color-white);
}

header {
  background-image: var(--background-image);
  background-color: var(--background-before);
  background-blend-mode: saturation;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  transition: background-color 4s;
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-white);
  /* font-family: "Acme", sans-serif; */
  font-family: "Alef", sans-serif;
}

header:hover {
  background-color: var(--background-after);
  transition: background-color 4s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-medium);
}
.navbar_logo {
  font-size: var(--font-large);
}
nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding: 3rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: var(--font-medium);
}

nav ul li a:hover,
.navbar_icon a:hover {
  color: var(--color-point);
}

.navbar_icon i {
  margin-left: var(--space-md);
}
.navbar_icon a {
  font-size: var(--font-large);
}

nav .navbar_menubar {
  position: absolute;
  top: 6px;
  right: 0;
  display: none;
  align-self: center;
}

.navbar_name {
  text-align: center;
  margin-bottom: 17rem;
}

.navbar_name h1 {
  font-size: var(--font-xxlarge);
  margin-bottom: var(--space-lg);
}

.navbar_downArrow {
  font-size: var(--font-large);
  text-align: center;
}
/* ---------Main_Skill---------- */
.skill {
  padding: var(--space-lg);
  text-align: center;
  font-family: "Alef", sans-serif;
}

.skill_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skill_list li {
  list-style: none;
}
.skill_list li i {
  font-size: var(--font-xxlarge);
  margin-bottom: 1rem;
  color: var(--color-point);
}
.skill_list li p {
  font-size: var(--font-medium);
  color: var(--color-black);
}
/* -------Main_About-------- */
.about {
  padding: var(--space-xlg);
  padding-left: var(--space-xxlg);
  padding-right: var(--space-xxlg);
  /* font-family: "Acme", sans-serif; */
  font-family: "Alef", sans-serif;
  color: var(--color-white);
  background-image: url("hawaii0.jpeg");
  background-color: var(--background-after);
  background-blend-mode: saturation;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}
.about_title {
  font-size: var(--font-xlarge);
  margin-top: var(--space-md);
  color: var(--color-black);
}
.about p {
  font-size: var(--font-medium);
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}
.about span {
  display: block;
  font-size: var(--font-small);
  margin-bottom: var(--space-sm);
  font-family: "Alef", sans-serif;
}
.about_skill {
  font-size: var(--font-small);
  display: flex;
  list-style: none;
  color: var(--color-black);
}
.about_skill div {
  padding-right: var(--space-xxlg);
}
.about_skill:last-child {
  margin-bottom: var(--space-md);
}
/* --------Main_Resume----------- */
.resume {
  padding: var(--space-xlg);
  padding-left: var(--space-xxlg);
  padding-right: var(--space-xxlg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  background-color: var(--color-white);
  font-family: "Alef", sans-serif;
  height: 30vh;
}
.resume_title {
  font-size: var(--font-xxlarge);
  color: var(--color-point);
}
.resume div p {
  font-size: var(--font-small);
  color: var(--color-black);
  font-weight: bold;
}
.resume_btn {
  font-size: var(--font-xxlarge);
  color: var(--color-black);
}
/* -------------Main_Porfolio------------ */
.portfolio {
  padding: var(--space-xlg);
  padding-left: var(--space-xxlg);
  padding-right: var(--space-xxlg);
  font-family: "Poiret One", cursive;
  /* font-family: "Alef", sans-serif; */
  background-image: url(la0.jpeg);
  background-color: var(--background-after);
  background-blend-mode: saturation;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white);
  height: 100vh;
}
.portfolio_title {
  font-size: var(--font-xxlarge);
  text-align: center;
  margin-top: var(--space-md);
  margin-bottom: var(--space-lg);
}
.portfolio_list {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  height: 70vh;
}
.portfolio_list li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25rem;
  height: 15rem;
  margin: var(--space-sm);
  list-style: none;
  overflow: hidden;
  position: relative;
}
.portfolio_list li img {
  max-width: 100%;
  height: max-content;
}
.portfolio_list li img:hover {
  filter: brightness(0.8);
}
.portfolio_list li div {
  position: absolute;
  bottom: 3%;
  right: 0;
  z-index: 2;
  font-size: var(--font-xlarge);
}
.portfolio_list li div a {
  margin: var(--space-sm);
  color: gray;
}
.portfolio_list li div a:hover {
  color: var(--color-black);
}
/* ----------Main_contact--------- */
.contact {
  font-family: "Amatic SC", cursive;
  /* font-family: "Alef", sans-serif; */
  padding: var(--space-xlg);
  padding-left: var(--space-xxlg);
  padding-right: var(--space-xxlg);
}
.contact_title {
  text-align: end;
  margin-right: var(--space-xxlg);
  font-size: var(--font-xxlarge);
  /* color: var(--color-point); */
}
.contact_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: var(--space-lg);
}
.contact_point {
  font-size: var(--space-md);
  font-weight: bold;
}
.contact_point p {
  font-size: var(--space-lg);
}
.contact_point li {
  list-style: none;
}

form {
  width: 60%;
}
input {
  padding: var(--space-sm);
  border: none;
  border-bottom: 2px solid var(--color-point);
  font-size: var(--font-medium);
  font-family: "Amatic SC", cursive;
}
input:focus {
  outline: none;
  background-color: var(--background-input);
}
input:hover {
  background-color: var(--background-input);
}
.nameInput {
  width: 50%;
}
.emailInput {
  width: 50%;
}
.bodyInput {
  width: 100%;
}
input::placeholder {
  font-size: var(--font-medium);
  color: var(--color-point);
  font-family: "Amatic SC", cursive;
}
.contact_btn {
  font-size: var(--font-xxlarge);
  margin: var(--space-sm);
  margin-left: var(--space-xlg);
  margin-right: var(--space-xlg);
  color: var(--color-point);
}

/* ----------Main_footer------------ */
.footer {
  padding: var(--space-md);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-white);
  font-family: "Acme", sans-serif;
  /* font-family: "Alef", sans-serif; */
  background-image: url(seattle0.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-after);
  background-blend-mode: saturation;
}
.footer_point {
  color: var(--color-point);
  font-weight: bold;
}
.footer_logo,
.footer_icon {
  font-size: var(--font-large);
}
.footer_icon a {
  margin-left: var(--space-md);
}
.footer_icon a:hover {
  color: var(--color-point);
}
#scrollUp {
  font-size: var(--font-xlarge);
  margin: var(--space-md);
  color: rgba(70, 70, 70, 0.5);
  position: fixed;
  bottom: 0;
  right: 0;
}

@media (max-width: 992px) {
  .portfolio {
    padding: var(--space-md);
    display: flex;
    height: 100%;
  }
  .portfolio_list {
    height: 100%;
  }
}
@media (max-width: 768px) {
  header {
    padding: var(--space-sm);
    background-color: var(--background-after);
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: var(--space-sm);
    background-color: var(--background-input);
  }
  .navbar_logo {
    font-size: var(--font-large);
    margin: 0;
  }
  .navbar_menu {
    display: none;
  }
  .navbar_menu_active {
    flex-direction: column;
    width: 100%;
    padding-top: var(--space-sm);
    padding-bottom: var(--space-sm);
  }
  .navbar_menu_active li {
    padding: 4px 0;
    font-size: large;
  }
  .navbar_menu_active li a {
    display: block;
  }
  .navbar_menu_active li :hover {
    background-color: var(--background-input);
    color: var(--color-point);
  }
  .navbar_icon {
    display: none;
  }
  .navbar_icon_active {
    align-self: center;
  }
  .navbar_icon_active i {
    margin-left: 0;
    margin-right: var(--space-sm);
    margin-top: 0;
  }
  .navbar_icon_active i:hover {
    color: var(--color-point);
  }

  nav .navbar_menubar {
    display: block;
  }
  .navbar_name h1 {
    font-size: var(--font-xlarge);
  }
  /* ---------Main_Skill---------- */
  .skill_list {
    display: block;
    font-weight: bold;
  }
  .skill_list li i {
    font-size: var(--font-large);
    margin-bottom: 0.5rem;
  }
  .skill_list li p {
    font-size: var(--font-small);
    margin-bottom: var(--space-lg);
  }
  .skill_qa :last-child {
    margin-bottom: 0;
  }
  /* -------Main_About-------- */
  .about {
    padding: var(--space-md);
    height: 100%;
  }
  .about_title {
    margin-top: 0;
    font-size: var(--font-xlarge);
  }
  .about p {
    font-size: var(--font-small);
  }
  .about_skill:last-child {
    margin-bottom: 0;
  }
  .about_skill div {
    padding: 0;
    width: 100%;
  }
  /* ------------Main_resume----------- */
  .resume {
    padding: var(--space-md);
    height: 100%;
  }
  .resume_title {
    font-size: var(--font-medium);
    text-align: end;
  }
  /* ---------------Main_portfolio--------- */
  .portfolio {
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  .portfolio_list {
    height: 100%;
  }
  .portfolio_title {
    font-size: var(--font-xlarge);
  }
  /* -------------Main_contact----------- */
  .contact {
    padding: var(--space-md);
    height: 100%;
  }
  /* .contact_title {
    font-size: var(--font-xlarge);
  }
  .contact_point p {
    font-size: var(--font-medium);
  } */
  .contact_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .contact_input {
    width: 100%;
  }
  /* -------------footer------------ */
  .footer {
    padding: var(--space-sm);
    justify-content: space-between;
  }
  .footer_right {
    display: none;
  }
  .footer_logo {
    font-size: var(--font-large);
  }
  #scrollUp {
    font-size: var(--font-large);
    bottom: var(--space-xxlg);
  }
}
